.main-btn, .second-btn {
  display: inline-block;
  background-color: #206dfb;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

.second-btn {
  background-color: #fdab44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

a {
  color: unset;
}
a:hover {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

nav {
  padding: 20px 0;
  position: absolute;
  top: 20px;
  z-index: 3;
  transition: all 0.2s linear;
}
nav .navbar-brand {
  font-weight: 700;
  font-size: 20px;
}
nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav .navbar-toggler span {
  vertical-align: unset;
  height: auto;
}
nav .navbar-nav li {
  margin: 5px 20px;
}
nav .navbar-nav li a:hover {
  color: #fdab44 !important;
}
nav .navbar-nav li.active a {
  color: #afafaf;
}
nav a {
  color: #FFF;
}

.navbar.scrolled {
  background: #FFF !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  box-shadow: 5px 0 20px #333;
}
.navbar.scrolled .navbar-nav li a {
  color: #333;
}
.navbar.scrolled .navbar-nav li.active a {
  color: #206dfb;
}
.navbar.scrolled .navbar-brand {
  color: #000000;
}
.navbar.scrolled .navbar-toggler {
  color: #181818;
}

#header {
  background: url(../../images/bg_1.jpg);
  position: relative;
  width: 100%;
  min-height: 400px;
  padding-bottom: 50px;
}
#header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  opacity: 0.8;
}
#header .content {
  margin: 80px auto;
  text-align: center;
}
#header .content .head-text {
  opacity: 1;
  color: #FFF;
  margin: 30px 0;
}
#header .content .head-text p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
}
#header .content .head-text h1 {
  font-size: 58px;
  line-height: 1.5;
  font-weight: 400;
}
#header .content .counter {
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 20px;
}
#header .content .counter .box {
  margin: 20px;
  display: inline-block;
}
#header .content .counter .box > span {
  font-size: 60px;
  margin-right: 15px;
  margin-bottom: 10px;
}
#header .content .counter .box .spans {
  display: inline-block;
  text-align: left;
}
#header .content .counter .box .spans span {
  font-size: 20px;
  display: block;
  color: #dbdbdb;
}
#header .content .counter .box .spans span.num {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
  color: #FFF;
}
#header .pages {
  height: 200px;
  display: grid;
  align-items: end;
}
#header .pages .breadcrumb {
  background: none;
  margin: 5px auto;
}
#header .pages .breadcrumb li {
  color: rgba(255, 255, 255, 0.9);
}
#header .pages .breadcrumb li a {
  color: rgba(255, 255, 255, 0.9);
}
#header .pages .breadcrumb li::before {
  color: #FFF;
}
#header .page-title {
  text-align: center;
  color: #FFF;
  font-size: 50px;
}

.tabs {
  margin: 50px 0;
}
.tabs .row a {
  background-color: #fdab44;
  color: #FFF;
  padding: 15px 30px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}
.tabs .row a.active, .tabs .row a:hover {
  background-color: #FFF;
  color: #333333;
}
.tabs .row .find-job, .tabs .row .find-candidate {
  background-color: #FFF;
  padding: 30px;
  border-radius: 10px;
  transition: all 1s linear;
  display: none;
  opacity: 0;
}
.tabs .row .find-job.active, .tabs .row .find-candidate.active {
  display: block;
  opacity: 1;
}
.tabs .row .find-job form div, .tabs .row .find-candidate form div {
  margin: 0 5px;
  position: relative;
  padding: 0;
}
.tabs .row .find-job form div i, .tabs .row .find-candidate form div i {
  position: absolute;
  z-index: 2;
  color: #3333;
  top: 20px;
  left: 10px;
  font-size: 20px;
}
.tabs .row .find-job form div input, .tabs .row .find-job form div select, .tabs .row .find-candidate form div input, .tabs .row .find-candidate form div select {
  padding-left: 40px;
  height: 60px;
  color: #7575a1;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 14px;
}
.tabs .row .find-job form div input.search-btn, .tabs .row .find-job form div select.search-btn, .tabs .row .find-candidate form div input.search-btn, .tabs .row .find-candidate form div select.search-btn {
  background-color: #206dfb;
  color: #FFF;
  font-size: 15px;
  margin: 0 5px;
  border: none;
  padding: 0;
}
.tabs .row .find-job form div select, .tabs .row .find-candidate form div select {
  padding-left: 30px;
}

@media (max-width: 992px) {
  header .navbar {
    background: #000;
    position: relative;
    top: 0;
  }
}
@media (max-width: 776px) {
  #header {
    padding-bottom: 30px;
  }

  .find-job form div, .find-candidate form div {
    margin-bottom: 20px !important;
  }

  .navbar-toggler {
    font-size: 15px;
  }

  nav .navbar-collapse button {
    width: 100%;
  }

  #header .content {
    margin: auto;
  }

  #header .content .head-text h1 {
    font-size: 36px;
  }

  #header .content .tabs .row a {
    display: inline-block;
    margin-top: 5px;
  }

  .find-job, .find-candidate {
    margin-top: -10px;
  }

  .tabs .row .tab-titles {
    margin: auto;
    text-align: center;
  }
  .tabs .row .tab-titles a {
    display: inline-block;
    margin: 5px auto;
  }
}
#footer {
  padding: 100px 0;
}
#footer .box {
  padding: 10px;
}
#footer .box .box-title {
  font-size: 18px;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.7);
}
#footer .box p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
#footer .box ul.social-media li {
  display: inline-block;
}
#footer .box ul.social-media li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 40px;
  border-radius: 50%;
  color: #206dfb;
}
#footer .box ul.social-media li a i {
  color: #206dfb;
}
#footer .box ul li {
  margin: 10px 0;
}
#footer .box ul li a {
  color: rgba(0, 0, 0, 0.5);
}
#footer .box ul li a:hover {
  color: rgba(0, 0, 0, 0.8);
}
#footer .box ul.question li {
  color: rgba(0, 0, 0, 0.5);
  display: table;
  margin: 20px 0;
}
#footer .box ul.question li i {
  display: table-cell;
  width: 30px;
}
#footer .box ul.question li span {
  display: table-cell;
}
#footer .copyright {
  margin: 30px auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
}
#footer .copyright i {
  color: #f10000;
}

.ftco {
  margin-bottom: 50px;
  margin-top: -50px;
}
.ftco .have-shadow {
  box-shadow: 3px 3px 20px #cacaca;
}
.ftco .col-md-2 {
  margin: 0;
  padding: 0;
}
.ftco .box {
  padding: 30px;
  text-align: center;
  background: #FFF;
  margin: 0;
}
.ftco .box.active {
  background: #fdab44;
  color: #FFF;
}
.ftco .box.active > span {
  color: #FFF;
}
.ftco .box:hover {
  background: #206dfb;
  color: #FFF;
}
.ftco .box:hover > span {
  color: #FFF;
}
.ftco .box h2 {
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.ftco .box > span {
  display: block;
  margin: 15px 5px;
  font-size: 40px;
  color: #206dfb;
}
.ftco .box p {
  font-size: 15px;
}

@media (max-width: 776px) {
  .ftco .box {
    width: 90%;
    margin: auto;
  }
}
section .title-text p {
  color: #206dfb;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
section .title-text h2 {
  font-size: 40px;
  margin-bottom: 50px;
}

.categories {
  text-align: center;
  margin: 100px 0;
}
.categories .row .box {
  background-color: #FFF;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 2px;
}
.categories .row .box .chevron {
  position: absolute;
  right: 40px;
  top: 50%;
  color: #fdab44;
  opacity: 0;
  transition: all 0.5s linear;
}
.categories .row .box h3 {
  font-size: 23px;
}
.categories .row .box .position-nums span.open {
  color: #c4c4c4;
  margin-left: 5px;
  transition: all 0.5s;
}
.categories .row .box .position-nums .number {
  background: #fff5e4;
  padding: 0px 4px;
  border-radius: 3px;
  color: #fdab44;
}
.categories .row .box:hover {
  background-color: #ffefdb;
}
.categories .row .box:hover .chevron {
  opacity: 1;
  right: 30px;
}
.categories .row .box:hover h3 {
  color: #206dfb;
}
.categories .row .box:hover .position-nums .open {
  color: #000;
}
.categories .row .box:hover .position-nums .number {
  background-color: #fffcf6;
}

.services {
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  padding: 80px 0;
  color: #FFF;
}
.services .box {
  margin-bottom: 30px;
}
.services .box span {
  font-size: 60px;
}
.services .box h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.services .box p {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.6901960784);
  font-size: 17px;
}

.recently {
  padding: 80px 0;
  background: #f8f9fa;
}
.recently .box {
  padding: 15px;
  margin-bottom: 25px;
  padding-left: 30px;
  background: #FFF;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.recently .box .info {
  display: inline-block;
  width: calc(100% - 165px);
}
.recently .box .work-time {
  color: #206dfb;
  text-transform: uppercase;
  font-size: 14px;
}
.recently .box h3 {
  margin: 10px 0;
}
.recently .box .place {
  margin: 10px 0;
  font-size: 14px;
  text-transform: uppercase;
}
.recently .box .place i {
  font-size: 13px;
  margin-right: 7px;
  color: #a5a5a5;
}
.recently .box .place .company {
  margin-right: 10px;
}
.recently .box .apply {
  width: 160px;
  display: inline-block;
}
.recently .box .apply i {
  color: #FFF;
  background: #fdab44;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.recently .box:hover {
  box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
}
.recently .box:hover .apply i {
  opacity: 1;
  color: #FFF;
  background: #fdab44;
}
.recently .company-name img {
  max-width: 100%;
}
.recently .company-name .position-nums span.open {
  color: #c4c4c4;
  margin-left: 5px;
  transition: all 0.5s;
}
.recently .company-name .position-nums .number {
  background: #fff5e4;
  padding: 0px 4px;
  border-radius: 3px;
  color: #fdab44;
}

@media (max-width: 991px) {
  .recently .box .info {
    width: 100%;
  }
  .recently .box .apply {
    width: 100%;
  }
  .recently .box .apply i {
    opacity: 1;
    color: #fdab44;
    background: #ffefdb;
  }
  .recently .company-name {
    width: 49%;
    padding: 20px;
    display: inline-block;
  }
}
@media (min-width: 991px) {
  .pdr-50 {
    padding-right: 50px;
  }
}
.testimonial {
  padding: 50px 0;
}
.testimonial .owl-carousel {
  padding: 50px 0;
}
.testimonial .owl-carousel .owl-item {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.3);
}
.testimonial .owl-carousel .owl-item .opinion {
  text-align: left;
  color: #797979;
  font-size: 18px;
}
.testimonial .owl-carousel .owl-item .client img {
  width: 80px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}
.testimonial .owl-carousel .owl-item .client .info {
  float: left;
  text-align: left;
  padding: 5px;
}
.testimonial .owl-carousel .owl-item .client .info .name {
  font-size: 21px;
}
.testimonial .owl-carousel .owl-item .client .info .job {
  color: #c1c1c1;
}
.testimonial .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  border: 2px solid #DDD;
}
.testimonial .owl-carousel .owl-dots .owl-dot.active span,
.testimonial .owl-carousel .owl-dots .owl-dot:hover span {
  background: #206dfb;
}

.candidates {
  padding: 80px 0;
  background: #206dfb;
}
.candidates .title-text {
  color: #FFF;
}
.candidates .title-text p {
  color: #FFF;
}
.candidates .owl-item {
  padding: 15px;
}
.candidates .owl-item img {
  width: 180px;
  border-radius: 50%;
  margin: 10px auto;
}
.candidates .owl-item .info .name {
  font-size: 21px;
  color: #FFF;
}
.candidates .owl-item .info .job {
  color: #e8e8e8;
  font-size: 17px;
}
.candidates .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  border: 2px solid white;
}
.candidates .owl-carousel .owl-dots .owl-dot.active span,
.candidates .owl-carousel .owl-dots .owl-dot:hover span {
  background: #fdab44;
}

.blog {
  padding: 70px 100px;
}
.blog .box {
  margin-bottom: 50px;
}
.blog .box a.img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  width: 100%;
}
.blog .box .info {
  margin: 10px 0;
  color: #ababab;
  font-size: 15px;
  text-align: left;
}
.blog .box .info span {
  margin-right: 5px;
}
.blog .box .info span i {
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}
.blog .box .subject {
  text-align: left;
  font-size: 18px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.blog .box .subject:hover {
  color: #206dfb;
}

@media (max-width: 776px) {
  .blog {
    padding: 50px 0;
  }
  .blog .box {
    margin-bottom: 20px;
  }
}
.sebscribe {
  padding: 30px;
  background: #206dfb;
  color: #FFF;
}
.sebscribe h2 {
  margin: 25px;
  font-size: 40px;
  letter-spacing: 0.5px;
}
.sebscribe p {
  width: 60%;
  margin: 30px auto;
}
.sebscribe form input:first-of-type {
  width: 40%;
  padding: 10px;
  border: none;
}
.sebscribe form input:last-of-type {
  margin-left: -50px;
  border-radius: 0;
  padding: 10px 35px;
}

@media (max-width: 776px) {
  .sebscribe p {
    width: 100%;
  }
  .sebscribe form input:first-of-type {
    width: 100%;
    display: block;
  }
  .sebscribe form input:last-of-type {
    margin: 5px auto;
  }
}
/* Start Browse Jobs Page Style  */
.recently .filter .category {
  background: #FFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.recently .filter .category h2 {
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.recently .filter .category form .search-box {
  position: relative;
}
.recently .filter .category form .search-box input[type=search] {
  border: 1px solid #ddd;
  padding: 5px 15px;
  border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 10px;
  width: 100%;
}
.recently .filter .category form .search-box i {
  position: absolute;
  top: 30%;
  right: 25px;
  color: #a7a7a7;
}
.recently .filter .category form .checkbox {
  color: #a5a5a5;
  font-size: 15px;
}
.recently .filter .category form .checkbox input[type=checkbox] {
  margin: 10px 2px;
}

.more-jobs {
  text-align: center;
  margin: 30px 0;
}
.more-jobs li {
  display: inline-block;
  margin-right: 5px;
}
.more-jobs li a {
  border: 1px solid #206dfb;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 18px;
  color: #206dfb;
}
.more-jobs li a.active {
  background: #206dfb;
  color: #FFF;
}

.recently .team {
  background: #FFF;
  margin-bottom: 20px;
  padding: 10px;
}
.recently .team .img {
  display: inline-block;
  vertical-align: top;
}
.recently .team .img .user {
  width: 180px;
  border-radius: 50%;
  margin: 20px 0 0 20px;
  vertical-align: top;
}
.recently .team .info {
  width: calc(100% - 210px);
  display: inline-block;
  padding: 20px;
}
.recently .team .info .country {
  color: #a3a3a3;
}
.recently .team .info .name {
  font-size: 25px;
  margin: 5px 0;
}
.recently .team .info .status {
  color: #fdab44;
  background: #fff1e0;
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
}
.recently .team .info .description {
  color: #848484;
  margin: 10px 0;
  font-size: 15px;
}
.recently .team .info .last-active {
  color: #a3a3a3;
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.recently .team .info button {
  padding: 5px 15px;
}

@media (max-width: 776px) {
  .recently .team .img {
    display: block;
    text-align: center;
  }
  .recently .team .info {
    width: 100%;
    text-align: center;
  }
}
.single-blog {
  margin: 100px 0;
}
.single-blog .blog-content h2 {
  margin: 20px 0;
  color: #333;
}
.single-blog .blog-content p {
  margin: 20px 0;
  color: #949494;
  font-size: 17px;
}
.single-blog .blog-content img {
  width: 100%;
  display: inline-block;
  margin: 30px 0;
}
.single-blog .tags {
  margin: 50px 0;
}
.single-blog .tags ul li {
  display: inline-block;
}
.single-blog .tags ul li a {
  margin: 0 5px;
  border: 1px solid #a3a3a3;
  padding: 3px 10px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}
.single-blog .tags ul li a:hover {
  background: #206dfb;
  color: #FFF;
  border: 1px solid #206dfb;
}
.single-blog .auteur {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
.single-blog .auteur .img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.single-blog .auteur .img img {
  max-width: 80%;
}
.single-blog .auteur .info {
  display: inline-block;
  width: 69%;
  padding: 10px;
}
.single-blog .auteur .info .name {
  font-size: 23px;
}
.single-blog .auteur .info p {
  color: #a3a3a3;
}
.single-blog .comments {
  margin: 20px 0;
}
.single-blog .comments > h3 {
  margin: 20px 0;
}
.single-blog .comments .user-comment {
  margin: 20px 0;
  padding: 10px;
}
.single-blog .comments .user-comment .user-img {
  width: 10%;
  vertical-align: top;
  display: inline-block;
}
.single-blog .comments .user-comment .user-img img {
  max-width: 100%;
  border-radius: 50%;
}
.single-blog .comments .user-comment .comment-info {
  width: 89%;
  display: inline-block;
  padding-left: 20px;
}
.single-blog .comments .user-comment .comment-info .name {
  font-size: 23px;
}
.single-blog .comments .user-comment .comment-info .date {
  color: #a3a3a3;
  display: inline-block;
  margin: 5px 0;
}
.single-blog .comments .user-comment .comment-info .comment {
  color: #808080;
  margin-bottom: 20px;
}
.single-blog .comments .user-comment .comment-info .reply {
  background: #eaeaea;
  font-size: 14px;
  padding: 3px 10px;
  color: #636363;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.single-blog .comments .user-comment .comment-info .reply:hover {
  background: #000;
  color: #FFF;
}
.single-blog .add-comment {
  margin: 30px 0;
}
.single-blog .add-comment h3 {
  margin: 50px 0;
}
.single-blog .add-comment form {
  background: #f8f9fa;
  padding: 20px;
}
.single-blog .add-comment form .input-field {
  margin: 20px auto;
  width: 90%;
}
.single-blog .add-comment form .input-field span {
  display: block;
  margin: 5px 0;
  color: #868686;
  font-size: 15px;
}
.single-blog .add-comment form .input-field input, .single-blog .add-comment form .input-field textarea {
  width: 100%;
  padding: 6px 0;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
}
.single-blog .add-comment form .input-field input.main-btn, .single-blog .add-comment form .input-field input.second-btn {
  width: unset;
  padding: 7px 10px;
  border: 0;
}
.single-blog .sidebar {
  padding-left: 20px;
}
.single-blog .sidebar .search-box {
  position: relative;
}
.single-blog .sidebar .search-box input[type=search] {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 10px;
  width: 90%;
  font-size: 14px;
}
.single-blog .sidebar .search-box i {
  position: absolute;
  top: 30%;
  right: 55px;
  color: #a7a7a7;
}
.single-blog .sidebar .jobs {
  margin-top: 30px;
}
.single-blog .sidebar .jobs .title {
  margin: 20px 0;
}
.single-blog .sidebar .jobs ul li {
  font-size: 15px;
  color: #333;
}
.single-blog .sidebar .jobs ul li span {
  float: right;
  color: #a3a3a3;
}
.single-blog .sidebar .jobs ul hr {
  margin: 15px 0;
}
.single-blog .sidebar .recent-blog {
  margin: 20px 0;
}
.single-blog .sidebar .recent-blog .blog-box {
  margin: 20px 0;
}
.single-blog .sidebar .recent-blog .blog-box .img {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.single-blog .sidebar .recent-blog .blog-box .img img {
  width: 100%;
}
.single-blog .sidebar .recent-blog .blog-box .info {
  display: inline-block;
  width: calc(100% - 120px);
  padding-left: 10px;
}
.single-blog .sidebar .recent-blog .blog-box .info p {
  font-size: 17px;
  color: #717171;
  margin-bottom: 5px;
}
.single-blog .sidebar .recent-blog .blog-box .info p:hover {
  color: #206dfb;
}
.single-blog .sidebar .recent-blog .blog-box .info .date {
  font-size: 14px;
  color: #909090;
}
.single-blog .sidebar .recent-blog .blog-box .info .date span {
  margin-right: 5px;
}
.single-blog .sidebar .recent-blog .blog-box .info .date span i {
  margin-right: 2px;
}
.single-blog .sidebar .tag-cloud {
  margin: 10px 0;
}
.single-blog .sidebar .tag-cloud h2 {
  font-size: 25px;
}
.single-blog .sidebar .tag-cloud ul li {
  display: inline-block;
  margin: 5px 0;
}
.single-blog .sidebar .tag-cloud ul li a {
  border: 1px solid #d3d3d3;
  padding: 2px 5px;
  font-size: 14px;
  margin-right: 5px;
  border-radius: 3px;
}
.single-blog .sidebar .tag-cloud ul li a:hover {
  background: #206dfb;
  color: #FFF;
  border-color: #206dfb;
}
.single-blog .sidebar .paragraph {
  margin: 30px 0;
}
.single-blog .sidebar .paragraph h2 {
  font-size: 25px;
}
.single-blog .sidebar .paragraph p {
  color: #a3a3a3;
  margin: 15px 0;
}

.contact-us {
  padding: 70px 0;
  background: #f8f9fa;
}
.contact-us h2.title {
  font-size: 27px;
  margin: 30px 0;
}
.contact-us .info {
  color: #a3a3a3;
  margin-bottom: 20px;
}
.contact-us .info a {
  color: #333;
}
.contact-us .form {
  margin: 30px 0;
}
.contact-us .form .map {
  height: 100%;
  min-height: 400px;
  padding-bottom: 30px;
}
.contact-us .form form {
  background: #FFF;
  padding: 50px;
}
.contact-us .form form input, .contact-us .form form textarea {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  border: 1px solid #DDD;
  border-radius: 5px;
}
.contact-us .form form input.main-btn, .contact-us .form form input.second-btn, .contact-us .form form textarea.main-btn, .contact-us .form form textarea.second-btn {
  width: auto;
  padding: 15px 40px;
  border: none;
}

.new-post {
  padding: 100px 0;
  background: #f8f9fa;
}
.new-post .post {
  background: #FFF;
  padding: 20px;
}
.new-post .post form {
  padding: 10px;
}
.new-post .post form .options {
  margin: 20px 0;
  color: #a3a3a3;
}
.new-post .post form .options label {
  display: block;
  margin: 5px 0;
}
.new-post .post form .options label input {
  margin-right: 5px;
}
.new-post .post form .options label span {
  color: #69da69;
  margin-right: 2px;
}
.new-post .post form .input-field {
  margin: 20px 0;
}
.new-post .post form .input-field span {
  display: block;
  margin: 10px 0;
  font-size: 17px;
  color: #a3a3a3;
}
.new-post .post form .input-field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #DDD;
}
.new-post .post form .job-type {
  margin: 10px 0;
}
.new-post .post form .job-type .option {
  margin: 5px 0;
}
.new-post .post form .job-type .option label {
  color: #a3a3a3;
}
.new-post .post form .location {
  margin: 20px 0;
}
.new-post .post form .location input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #DDD;
}
.new-post .post form .desc {
  margin: 20px 0;
}
.new-post .post form .desc textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #DDD;
}
.new-post .post form input.main-btn, .new-post .post form input.second-btn {
  padding: 10px 50px;
}
.new-post .contact-info {
  padding: 20px;
  background: #FFF;
}
.new-post .contact-info h3.title {
  font-size: 20px;
  margin-bottom: 20px;
}
.new-post .contact-info .info {
  margin-bottom: 30px;
}
.new-post .contact-info .info span {
  display: block;
  color: #909090;
  font-weight: 600;
}
.new-post .contact-info .info p {
  color: #a3a3a3;
}
.new-post .contact-info .info a {
  color: #206dfb;
}
.new-post .more-info {
  margin-top: 30px;
  background: #FFF;
  padding: 20px;
}
.new-post .more-info .title {
  font-size: 20px;
}
.new-post .more-info p {
  color: #a3a3a3;
}

.advanced-search {
  background: #f8f9fa;
  padding: 50px 0;
}

/*# sourceMappingURL=style.css.map */
