.main-btn, .second-btn {
  background-color: #206dfb;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
}

.second-btn {
  background-color: #fdab44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

a:hover {
  text-decoration: none;
}

nav {
  padding: 20px 0;
  position: absolute;
  top: 20px;
  z-index: 3;
}
nav .navbar-brand {
  font-weight: 700;
  font-size: 20px;
}
nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav .navbar-toggler span {
  vertical-align: unset;
  height: auto;
}
nav .navbar-nav li {
  margin: 5px 20px;
}
nav .navbar-nav li a:hover {
  color: #fdab44 !important;
}
nav .navbar-nav li.active a {
  color: #afafaf;
}
nav a {
  color: #FFF;
}

#header {
  background: url(../../images/bg_1.jpg);
  position: relative;
  width: 100%;
  min-height: 800px;
  padding-bottom: 50px;
}
#header .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  opacity: 0.8;
}
#header .content {
  margin: 80px auto;
  text-align: center;
}
#header .content .head-text {
  opacity: 1;
  color: #FFF;
  margin: 30px 0;
}
#header .content .head-text p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
}
#header .content .head-text h1 {
  font-size: 58px;
  line-height: 1.5;
  font-weight: 400;
}
#header .content .counter {
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 20px;
}
#header .content .counter .box {
  margin: 20px;
  display: inline-block;
}
#header .content .counter .box > span {
  font-size: 60px;
  margin-right: 15px;
  margin-bottom: 10px;
}
#header .content .counter .box .spans {
  display: inline-block;
  text-align: left;
}
#header .content .counter .box .spans span {
  font-size: 20px;
  display: block;
  color: #dbdbdb;
}
#header .content .counter .box .spans span.num {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
  color: #FFF;
}
#header .content .tabs {
  margin: 50px 0;
}
#header .content .tabs .row a {
  background-color: #fdab44;
  color: #FFF;
  padding: 15px 30px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 20px;
}
#header .content .tabs .row a.active, #header .content .tabs .row a:hover {
  background-color: #FFF;
  color: #333333;
}
#header .content .tabs .row .find-job, #header .content .tabs .row .find-candidate {
  background-color: #FFF;
  padding: 30px;
  border-radius: 10px;
  transition: all 1s linear;
  display: none;
  opacity: 0;
}
#header .content .tabs .row .find-job.active, #header .content .tabs .row .find-candidate.active {
  display: block;
  opacity: 1;
}
#header .content .tabs .row .find-job form div, #header .content .tabs .row .find-candidate form div {
  margin: 0 5px;
  position: relative;
  padding: 0;
}
#header .content .tabs .row .find-job form div i, #header .content .tabs .row .find-candidate form div i {
  position: absolute;
  z-index: 2;
  color: #3333;
  top: 20px;
  left: 10px;
  font-size: 20px;
}
#header .content .tabs .row .find-job form div input, #header .content .tabs .row .find-job form div select, #header .content .tabs .row .find-candidate form div input, #header .content .tabs .row .find-candidate form div select {
  padding-left: 40px;
  height: 60px;
  color: #7575a1;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 14px;
}
#header .content .tabs .row .find-job form div input.search-btn, #header .content .tabs .row .find-job form div select.search-btn, #header .content .tabs .row .find-candidate form div input.search-btn, #header .content .tabs .row .find-candidate form div select.search-btn {
  background-color: #206dfb;
  color: #FFF;
  font-size: 15px;
  margin: 0 5px;
  border: none;
  padding: 0;
}
#header .content .tabs .row .find-job form div select, #header .content .tabs .row .find-candidate form div select {
  padding-left: 30px;
}

@media (max-width: 992px) {
  header .navbar {
    background: #000;
    position: relative;
    top: 0;
  }
}
@media (max-width: 776px) {
  #header {
    padding-bottom: 30px;
  }

  .find-job form div, .find-candidate form div {
    margin-bottom: 20px !important;
  }

  .navbar-toggler {
    font-size: 15px;
  }

  nav .navbar-collapse button {
    width: 100%;
  }

  #header .content {
    margin: auto;
  }

  #header .content .head-text h1 {
    font-size: 36px;
  }

  #header .content .tabs .row a {
    display: inline-block;
    margin-top: 5px;
  }

  .find-job, .find-candidate {
    margin-top: -10px;
  }
}
.ftco {
  margin-bottom: 50px;
  margin-top: -50px;
}
.ftco .have-shadow {
  box-shadow: 3px 3px 20px #cacaca;
}
.ftco .col-md-2 {
  margin: 0;
  padding: 0;
}
.ftco .box {
  padding: 30px;
  text-align: center;
  background: #FFF;
  margin: 0;
}
.ftco .box.active {
  background: #fdab44;
  color: #FFF;
}
.ftco .box.active > span {
  color: #FFF;
}
.ftco .box:hover {
  background: #206dfb;
  color: #FFF;
}
.ftco .box:hover > span {
  color: #FFF;
}
.ftco .box h2 {
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.ftco .box > span {
  display: block;
  margin: 15px 5px;
  font-size: 40px;
  color: #206dfb;
}
.ftco .box p {
  font-size: 15px;
}

@media (max-width: 776px) {
  .ftco .box {
    width: 90%;
    margin: auto;
  }
}
.categories {
  text-align: center;
  margin: 100px 0;
}
.categories .head-text p {
  color: #206dfb;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.categories .head-text h2 {
  font-size: 40px;
  margin-bottom: 50px;
}
.categories .row .box {
  background-color: #FFF;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 2px;
}
.categories .row .box .chevron {
  position: absolute;
  right: 40px;
  top: 50%;
  color: #fdab44;
  opacity: 0;
  transition: all 0.5s linear;
}
.categories .row .box h3 {
  font-size: 23px;
}
.categories .row .box .position-nums span.open {
  color: #c4c4c4;
  margin-left: 5px;
  transition: all 0.5s;
}
.categories .row .box .position-nums .number {
  background: #fff5e4;
  padding: 0px 4px;
  border-radius: 3px;
  color: #fdab44;
}
.categories .row .box:hover {
  background-color: #ffefdb;
}
.categories .row .box:hover .chevron {
  opacity: 1;
  right: 30px;
}
.categories .row .box:hover h3 {
  color: #206dfb;
}
.categories .row .box:hover .position-nums .open {
  color: #000;
}
.categories .row .box:hover .position-nums .number {
  background-color: #fffcf6;
}

.services {
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  padding: 80px 0;
  color: #FFF;
}
.services .box span {
  font-size: 60px;
}
.services .box h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.services .box p {
  margin-top: 15px;
  color: #ffffffb0;
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
