/////// Start Section FTCO 

.ftco {
  margin-bottom: 50px;
  margin-top: -50px;
  .have-shadow {
    box-shadow: 3px 3px 20px rgb(202, 202, 202);
  }
  .col-md-2 {
    margin: 0;
    padding: 0;
  }
  .box {
    padding: 30px;
    text-align: center;
    background: #FFF;
    margin: 0;
    &.active {
      background: $secondColor;
      color: #FFF;
      >span {
        color: #FFF
      }
    }
    &:hover {
      background: $mainColor;
      color: #FFF;
      >span {
       color: #FFF; 
      }
    }
    h2 {
      font-size: 20px;
      letter-spacing: 1px;
      cursor: pointer;
    }
    > span {
      display: block;
      margin: 15px 5px;
      font-size: 40px;
      color: $mainColor;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: "776px") {
  .ftco .box {
    width: 90%;
    margin: auto;
  }
}



////// Start Section Categories ////////////////

section {
  .title-text {
    p {
      color: $mainColor;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    h2 {
      font-size: 40px;
      margin-bottom: 50px;
    }
  }
}

.categories {
  text-align: center;
  margin: 100px 0;
  .row {
    .box {
      background-color: #FFF;
      border-bottom: 1px solid #dddddd;
      padding: 20px;
      cursor: pointer;
      transition: all .5s;
      border-radius: 2px;
      .chevron {
        position: absolute;
        right: 40px;
        top: 50%;
        color: $secondColor;
        opacity: 0;
        transition: all .5s linear;
      }
      h3 {
        font-size: 23px;
      }
      .position-nums {
        span.open {
          color: rgb(196, 196, 196);
          margin-left: 5px;
          transition: all .5s;
        }
        .number {
          background: #fff5e4;
          padding: 0px 4px;
          border-radius: 3px;
          color: $secondColor;
        }
      }
      &:hover {
        background-color: #ffefdb;
        .chevron {
          opacity: 1;
          right: 30px;
        }
        h3 {
          color: $mainColor;
        }
        .position-nums {
          .open {
            color: #000;
          }
          .number {
            background-color: #fffcf6;
          }
        }
      }
    }
  }
}

//// Start section Services

.services {
  background: linear-gradient(to right, #207dff 0%, #a16ae8 100%);
  padding: 80px 0;
  color: #FFF;
  .box {
    margin-bottom: 30px;
    span {
      font-size: 60px;
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    p {
      margin-top: 15px;
      color: rgba(255, 255, 255, 0.6901960784);
      font-size: 17px;
    }
  }
}

//////// Start Section Recently

.recently {
  padding: 80px 0;
  background: #f8f9fa;
  .box {
    padding: 15px;
    margin: 10px 0;
    padding-left: 30px;
    background: #FFF;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease-in-out;
    .info {
      display: inline-block;
      width: calc(100% - 165px);
    }
    .work-time {
      color: $mainColor;
      text-transform: uppercase;
      font-size: 14px;
    }
    h3 {
      margin: 10px 0;
    }
    .place {
      margin: 10px 0;
      font-size: 14px;
      text-transform: uppercase;
      i {
        font-size: 13px;
        margin-right: 7px;
        color: #a5a5a5;
      }
      .company {
        margin-right: 10px;
      }
    }
    .apply {
      width: 160px;
      display: inline-block;
      i {
        color: #FFF;
        background: $secondColor;
        padding: 10px;
        border-radius: 50%;
        opacity: 0;
        transition: all .3s ease-in-out;
      }
    }
    &:hover {
      box-shadow: 0px 0px 24px 5px rgba(0, 0, 0, 0.1);
      .apply i {
        opacity: 1;
        color: #FFF;
        background: $secondColor;
      }
    }
  }
  .company-name {
    img {
      max-width: 100%;
    }
    .position-nums {
      span.open {
        color: rgb(196, 196, 196);
        margin-left: 5px;
        transition: all .5s;
      }
      .number {
        background: #fff5e4;
        padding: 0px 4px;
        border-radius: 3px;
        color: $secondColor;
      }
    }
  }
}


@media (max-width: "991px") {
  .recently {
    .box {
      .info {
        width: 100%;
      }
      .apply {
        width: 100%;
        i {
          opacity: 1;
          color: $secondColor;
          background: #ffefdb;
        }
      }
    }
    .company-name {
      width: 49%;
      padding: 20px;
      display: inline-block;
    }
  }
}

@media (min-width: "991px") {
  .pdr-50 {
    padding-right: 50px;
  }
}


/////////// Start Testimonial Section ////////////

.testimonial {
  padding: 50px 0;
  .owl-carousel {
    padding: 50px 0;
    .owl-item {
      padding: 30px;
      background: #fff;
      box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.30);
      .opinion {
        text-align: left;
        color: #797979;
        font-size: 18px;
      }
      .client {
        img {
          width: 80px;
          border-radius: 50%;
          float: left;
          margin-right: 15px;
        }
        .info {
          float: left;
          text-align: left;
          padding: 5px;
          .name {
            font-size: 21px;
          }
          .job {
            color: #c1c1c1;
          }
        }
      }
    }
  }
  // Owl Carousel
  .owl-carousel .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    border: 2px solid #DDD;
  }
  .owl-carousel .owl-dots .owl-dot.active span,
  .owl-carousel .owl-dots .owl-dot:hover span {
    background: $mainColor;
  }
}

////// Start Candidates Section 

.candidates {
  padding: 80px 0;
  background: $mainColor;
  .title-text {
    color: #FFF;
    p {
      color: #FFF;
    }
  }
  .owl-item {
    padding: 15px;
    img {
      width: 180px;
      border-radius: 50%;
      margin: 10px auto;
    }
    .info {
      .name {
        font-size: 21px;
        color: #FFF;
      }
      .job {
        color: #e8e8e8;
        font-size: 17px;
      }
    }
  }
    // Owl Carousel
    .owl-carousel .owl-dots .owl-dot span {
      width: 12px;
      height: 12px;
      border: 2px solid rgb(255, 255, 255);
    }
    .owl-carousel .owl-dots .owl-dot.active span,
    .owl-carousel .owl-dots .owl-dot:hover span {
      background: $secondColor;
    }
}

///// Start Blog Section

.blog {
  padding: 70px 150px;
  .box {
    padding: 10px;
    a {
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 250px;
      width: 100%;
    }
    .info {
      margin: 10px 0;
      color: #ababab;
      font-size: 15px;
      text-align: left;
      span {
        margin-right: 5px;
        i {
          display: inline-block;
          margin-right: 5px;
          font-size: 12px;
        }
      }
    }
    .subject {
      text-align: left;
      font-size: 15px;
    }
  }
}

@media (max-width: "776px") {
  .blog {
    padding: 50px 0;
    .box {
      margin-bottom: 20px;
    }
  }
}


/////// Start Sebscribe Section

.sebscribe {
  padding: 30px;
  background: $mainColor;
  color: #FFF;
  h2 {
    margin: 25px;
    font-size: 40px;
    letter-spacing: .5px;
  }
  p {
    width: 60%;
    margin: 30px auto;
  }
  form {
    input:first-of-type {
      width: 40%;
      padding: 10px;
      border: none;
    }
    input:last-of-type {
      margin-left: -50px;
      border-radius: 0;
      padding: 10px 35px;
    }
  }
}

@media (max-width: "776px") {
  .sebscribe {
    p {
      width: 100%;
    }
    form {
      input:first-of-type {
        width: 100%;
        display: block;
      }
      input:last-of-type {
        margin: 5px auto;
      }
    }
  }
}